<div class="flex justify-center">
  <div class="grow mt-8 flex justify-between max-w-sm">
    <%= link_to "<", :back, class: "mt-2 text-slate-500 dark:slate-100 border border-slate-500 dark:slate-100 hover:bg-slate-500 hover:dark:bg-slate-100 hover:text-slate-50 hover:dark:text-slate-600 active:bg-slate-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150", type: "button" %>

    <h1 class="text-center text-3xl font-bold text-slate-800 dark:text-slate-50">
    Daily Habits
    </h1>

    <%= link_to "+", new_habit_path, class: "mt-2 text-slate-500 dark:slate-100 border border-slate-500 dark:slate-100 hover:bg-slate-500 hover:dark:bg-slate-100 hover:text-slate-50 hover:dark:text-slate-600 active:bg-slate-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150", type: "button" %>
  </div>
</div>

<div>
  <h2 class="block sm:hidden md:hidden lg:hidden xl:hidden 2xl:hidden text-5xl">XS</h2>
  <h2 class="hidden sm:block md:hidden lg:hidden xl:hidden 2xl:hidden text-5xl">SM</h2>
  <h2 class="hidden sm:hidden md:block lg:hidden xl:hidden 2xl:hidden text-5xl">MD</h2>
  <h2 class="hidden sm:hidden md:hidden lg:block xl:hidden 2xl:hidden text-5xl">LG</h2>
  <h2 class="hidden sm:hidden md:hidden lg:hidden xl:block 2xl:hidden text-5xl">XL</h2>
  <h2 class="hidden sm:hidden md:hidden lg:hidden xl:hidden 2xl:block text-5xl">2XL</h2>
</div>

<ul class="mb-10 flex flex-row flex-wrap justify-center">
  <% @habits.each do |habit| %>
    <%= render "single_habit", habit: habit %>
  <% end %>
</ul>
