<h1 class="text-3xl font-bold text-slate-800 dark:text-slate-50">Create New Habit</h1>
<%= render "form", habit: @habit %>
<%= link_to "Back", :back, class: "text-slate-500 dark:slate-100 border border-slate-500 dark:slate-100 hover:bg-slate-500 hover:dark:bg-slate-100 hover:text-slate-50 active:bg-slate-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1 ease-linear transition-all duration-150", type: "button" %>
